<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<!-- Tailwind & DaisyUI -->
		<link rel="stylesheet" href="/static/output.css" />

		<!-- FontAwesome -->
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
			integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
			crossorigin="anonymous"
			referrerpolicy="no-referrer"
		/>

		<title>E-Store</title>
	</head>
	<body class="bg-base-200 min-h-screen">
		<div hx-get="/static/navbar.html" hx-swap="outerHTML" hx-trigger="load"></div>
		<div class="hero h-screen">
			<div class="hero-content text-center">
				<div class="max-w-md">
					<h1 class="text-5xl font-bold">Welcome to the E-Store</h1>
					<p class="py-6">We sell primarily men's clothing and accessories!</p>
				</div>
			</div>
		</div>
		<div class="hero w-full bg-base-100 h-[600px]">
			<div class="hero-content text-center">
				<div class="max-w-md">
					<h2 class="text-3xl font-bold">Ready to shop?</h2>
					<p class="py-6">Checkout our catalog to see our award winning selection!</p>
					<a class="btn btn-primary" href="/pages/catalog.html">Catalog</a>
				</div>
			</div>
		</div>
		<div class="hero w-full bg-base-200 h-[600px]">
			<div class="hero-content text-center">
				<div class="max-w-md">
					<h2 class="text-3xl font-bold">Want to get Updated?</h2>
					<p class="py-6">
						Checkout our amazing blog to stay updated on the latest and greatest!
					</p>
					<a class="btn btn-primary" href="/pages/blog.html">Blog</a>
				</div>
			</div>
		</div>
		<div hx-get="/static/footer.html" hx-swap="outerHTML" hx-trigger="load"></div>
	</body>
	<script src="/static/htmx.min.js"></script>
</html>
