<div class="navbar bg-base-100 absolute top-0">
	<div class="flex-1">
		<!-- <a class="btn btn-ghost text-xl" hx-target="#content" hx-get="/home" hx-trigger="click">
			E-Store
		</a>
		<a class="btn btn-ghost text-l" hx-target="#content" hx-get="/catalog" hx-trigger="click">
			Catalog
		</a>
		<a class="btn btn-ghost text-l" hx-target="#content" hx-get="/blog" hx-trigger="click">
			Blog
		</a> -->
		<a class="btn btn-ghost text-xl" href="/pages/index.html"> E-Store </a>
		<a class="btn btn-ghost text-l" href="/pages/catalog.html"> Catalog </a>
		<a class="btn btn-ghost text-l" href="/pages/blog.html"> Blog </a>
	</div>
	<div class="flex-none">
		<label class="text-xl swap swap-rotate btn btn-square btn-ghost">
			<input type="checkbox" class="theme-controller" value="light" />
			<i class="fa-solid fa-sun swap-on fill-current"></i>
			<i class="far fa-moon swap-off fill-current"></i>
		</label>
		<button class="btn btn-square btn-ghost text-xl">
			<i class="fas fa-shopping-cart"></i>
		</button>
	</div>
</div>
