<div class="w-full p-10 gap-10 mt-16 min-h-screen">
	<div class="flex flex-col gap-10 max-w-[800px] ml-auto mr-auto">
		<h1 class="text-5xl font-bold mb-5 text-center">Blog</h1>
		<input
			name="query"
			type="text"
			placeholder="Search"
			class="input w-full"
			hx-get="/blog/posts"
			hx-include="[name='query']"
			hx-trigger="keyup change"
			hx-target="#blogposts"
		/>
		<div
			id="blogposts"
			class="flex flex-col gap-10 w-full"
			hx-get="/blog/posts"
			hx-trigger="load"
			hx-include="[name='query']"
		>
			<div class="w-full flex justify-center">
				<span class="loading loading-ring loading-lg"></span>
			</div>
		</div>
	</div>
</div>
